body { 
    background-color: #f5f5f5; 

    font-family: Georgia, serif; 

} 

#hoved { 

    width: 60%; 

    margin: 100px auto; 

    padding: 40px; 

    background-color: white; 

    border: 1px solid #cccccc; 

} 

h1, 

h2 { 

    font-family: Arial, sans-serif; 

} 

.blaa { 

    padding: 20px; 

    background-color: #01739F; 

} 

.rod { 

    padding: 20px; 

    background-color: red; 

} 

.bgfarge1 { 
    background-color: yellow; 

} 

.bgfarge2 { 
    background-color: green; 

} 

.boksContainer { 
    display: flex; 
    flex-direction: row; 

    justify-content: space-evenly; 

} 

.bokser { 
    border: 2px solid green; 
    width: 40px; 
    height: 40px; 
    gap: 5px; 

} 
