/* Generell styling for alle boksene */
.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
    border: 10px solid black;
    align-items: center;
    background-color: rgb(200, 200, 200);
    border-radius: 100px;
    align-content: center;
    column-gap: 1em;
    row-gap: 1em;
    

}

/* Generell styling for alle boksene */
.box {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 50px;

}
#box1 {
    background-color: rgb(255, 0, 0);
}
#box2 {
    background-color: rgb(225, 255, 0);
}
#box3 {
    background-color: rgb(8, 0, 255);
}
#box4 {
    background-color: rgb(0, 255, 136);
    
}
#box5 {
    background-color: rgb(255, 128, 0);
}
#box6 {
    background-color: rgb(128, 0, 255);
}
#box7 {
    background-color: rgb(0, 255, 255);
}
#box8 {
    background-color: rgb(255, 0, 255);
    order: ;
}
#box9 {
    background-color: rgb(0, 0, 0);
    color: white;
}