/* Generell styling for alle boksene */
.box {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}

/* Unik styling for hver boks */
#box1 {
    background-color: rgb(255, 0, 0);
}
#box2 {
    background-color: rgb(225, 255, 0);
}
#box3 {
    background-color: rgb(8, 0, 255);
}
#box4 {
    background-color: rgb(0, 255, 136);
}