/* Generell styling for alle boksene */
.box {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}

#olympic-rings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}
.ring {
    width: 100px;
    height: 100px;
    border: 10px solid;
    border-radius: 50%;
    box-sizing: border-box;
}
.yellow {
    border-color: yellow;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -100px;
}
.red {
    border-color: red;
    margin-left: -30px;
}
.blue {
    border-color: blue;
    margin-left: -30px;
    margin-right: -30px;
}
.black {
    border-color: black;
    margin-left: -30px;
    margin-right: -30px;
}
.green {
    border-color: green;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -100px;
}